# define python

Python is a computer programming language it is used to build websites and it is used to analyze the data. python is an interpreted and objected-oriented programming language.

# Create five valid and invalid variables

In [10]:
#valid variables
name = "pavan" 
x= 10 
age= 25  
_x = 5
friendname_1= "John"

In [11]:
#invalid variables
1x = 20
+name = "sai"
name_* = "manisha"
@%age = 25
!+name = "teja"

SyntaxError: invalid decimal literal (3466990518.py, line 2)

# Define list

Lists are used to store multiple values in a single variable 
Lists are mutable which means we can change the values anytime in the list
Lists are represented by square brackets "[]"
Inside the list we used to seperated the values by comma ",".

In [13]:
list_values =["mango", "apple", "grapes", "papaya", "banana", "baseball", 20, 34.56, "orange", 48964]
print(list_values[1])
print(list_values[2])
print(list_values[3])
print(list_values[4])
print(list_values[5])
print(list_values[6])
print(list_values[7])
print(list_values[8])
print(list_values[0])
print(list_values[9])

apple
grapes
papaya
banana
baseball
20
34.56
orange
mango
48964

create string

In [14]:
a= "my name is sudeshna pushpa"
print(a)

my name is sudeshna pushpa

•create tuple

In [16]:
fruits = ("apple", "banana", "mango")
print(fruits)

('apple', 'banana', 'mango')

•create dictionary

In [18]:
mydict = {"brand": "benz","model": "gla","year": 1926}
print(mydict)

{'brand': 'benz', 'model': 'gla', 'year': 1926}

♦ Access the elements above data types

In [19]:
print(a[-6])
print(a[5:7])

p
me

In [22]:
print(mydict)

{'brand': 'benz', 'model': 'gla', 'year': 1926}

In [23]:
print(fruits[2])

mango

♦ Apply methods on datatypes

# String Methods

♦len(): tells about length of a string 
♦islower(): returns true if all characters are in lower 
♦isupper(): returns true if all characters are in upper 
♦replace(): replace a new value with existing value
♦lower(): converts upper to lower case
♦upper(): converts lower to upper case

In [28]:
name = "manish"
x= len(name)
print(x)

6

In [29]:
name = "manish"
print(name.islower())

True

In [35]:
name = "manish"
print(name.isupper())

False

In [33]:
name = "MANISH"
print(name.lower())

manish

In [34]:
name = "manish"
print(name.upper())

MANISH

In [37]:
name = "manish"
new_name = name.replace("manish", "pushpa")
print(new_name)

pushpa

# tuple method

♦ count(): returns the no.of repeated values of the specified values
♦ index(): returns the 1st value of a specified value

In [38]:
a = (1,2,3,4,5,1,2)
print(a.index(1))

0

In [39]:
a=(1,2,3,4,5,1,2,3,3,3,4,2,5,6,4,7,1,2,4)
print(a.count(2))

4

# List methods

♦append(): Adds an element at the end of the list
♦extend(): Add the elements of a list (or any iterable), to the end of the current list
♦insert():	Adds an element at the specified position
♦remove(): Removes the item with the specified value
♦reverse():	Reverses the order of the list
♦pop(): Removes the element at the specified position
♦index(): Returns the index of the first element with the specified value	
♦count(): Returns the number of elements with the specified value
♦copy(): Returns a copy of the list
♦clear(): Removes all the elements from the list

In [42]:
a= [1,2,3,4,5]
a.append(7)
print(a)

[1, 2, 3, 4, 5, 7]

In [45]:
x = [5,6,7,8,3]
y= [10,30,20,40]
x.extend(y)
print(x)

[5, 6, 7, 8, 3, 10, 30, 20, 40]

In [46]:
x= [1,2,5,6,7,8]
x.insert(10, 30)
print(x)

[1, 2, 5, 6, 7, 8, 30]

In [47]:
x= [1,2,3,4,5,6]
x.remove(6)
print(x)

[1, 2, 3, 4, 5]

In [51]:
x= [1,2,3,4,5,6]
x.reverse()
print(x)

[6, 5, 4, 3, 2, 1]

In [52]:
x= [1,2,3,4,5,6]
print(x.pop(5))

6

In [54]:
x= [1,2,3,4,5,6]
print(x.index(5))

4

In [57]:
x= [1,2,3,4,5,6,2,3,2,4,2]
print(x.count(2))

4

In [58]:
x= [1,2,3,4,5,6]
print(x.copy())

[1, 2, 3, 4, 5, 6]

In [59]:
x= [1,2,3,4,5,6]
print(x.clear())

None

# dictionaries methods

♦get(): if the is not present in the dict. it shows the same value what we mentioned
♦keys(): returns all the keys in the dictionary
♦pop(): removes the specified values
♦items():  returns all the items(key-value pairs) in the dictionary
♦values():  returns all the values in the dictionary
♦popitmes(): removes& returns the last inserted key-value pair as a tuple

In [64]:
mydict = {"brand": "benz","model": "gla","year": 1926}
print(mydict)

{'brand': 'benz', 'model': 'gla', 'year': 1926}

In [66]:
s = mydict.get("subject", "python")
print(s)

python

In [67]:
keys = mydict.keys()
print(keys)

dict_keys(['brand', 'model', 'year'])

In [68]:
values = mydict.values()
print(values)

dict_values(['benz', 'gla', 1926])

In [69]:
items = mydict.items()
print(items)

dict_items([('brand', 'benz'), ('model', 'gla'), ('year', 1926)])

In [79]:
mydict.pop("year")
print(mydict)

{'brand': 'benz', 'model': 'gla'}

In [80]:
last_item = mydict.popitem()
print(last_item)

('model', 'gla')